<%= render partial: "shared/nav" %>
<div class="container">
  <div class="row col-md-6 middle">
    <div class="panel-body">
      <% @users.each do |user| %>
        <%= link_to user_path(user) do %>
          <div class="my-restaurant text-center">
            <%= image_tag user.avatar, width:"60px" %>
            <%= user.name %>
            <%= render partial: "shared/follow", locals: {user: user} %>
          </div>
        <% end %>  
      <% end %>
    </div>
  </div>  
</div>    